<h2>Software requirements for the Bash Shell (Tuesday) and Git (Thursday) lessons</h2>
<p>
  The sections below (<strong>The Bash Shell</strong>, <strong>Git</strong>
  and <strong>Text Editor</strong>) tell you what software you'll need to
  have (or install) on your own computer in order to do the Bash Shell and
  Git lessons on Tuesday and Thursday.
</p>
<p>
  As a possible alternative, if you are already familiar with either of the
  following University of Edinburgh services then you can use them for
  the Bash Shell and Git lessons.
</p>
<ul>
  <li><a href="https://www.wiki.ed.ac.uk/display/ResearchServices/Eddie">Eddie</a>, The University of Edinburgh Compute Cluster.</li>
  <li>The School of Physics &amp; Astronomy's SSH Login Server (staff.ph.ed.ac.uk).</li>
</ul>

{% assign curricula = "swc-gapminder|swc-inflammation"  | split: "|" %}
{% unless curricula contains site.curriculum %}
{% include warning-curriculum.html %}
{% endunless %}

{% include install_instructions/shell.html %}
{% include install_instructions/git.html %}
{% include install_instructions/editor.html %}

{% if site.flavor == "r" %}
{% include install_instructions/r.html %}
{% elsif site.flavor == "python" %}
{% include install_instructions/python.html %}
{% elsif site.flavor == "FIXME" %}
{% include install_instructions/r.html %}
{% include install_instructions/python.html %}
{% else %}
{% include warning-flavor.html %}
{% endif %}

{% comment %}
The following setup instructions are commented out because Carpentries workshops
cover the these topics less frequently. Please uncomment the lines that
correspond to the topics covered in your workshop.

{% include install_instructions/sql.html %}
{% include install_instructions/openrefine.html %}
{% endcomment %}
